@page
@model razorApp.Pages.Gallery

@section styles{
<link rel="stylesheet" href="~/css/gallery-page.css">
}

@{
    ViewData["Title"] = "Våra bilar";
}

<h1 class="page-title">Våra bilar i lager</h1>
<article>
    <section class="gallery-wrapper">
        @foreach (var vehicle in Model.Vehicles)
        {
            <div class="gallery-card">
                <h4>@vehicle.VehicleName</h4>
                <a asp-page="./Details" asp-route-id="@vehicle.VehicleId">
                    <img src="@vehicle.ImageUrl" alt="@vehicle.VehicleName" width="200">
                </a>
                <p>Årsmodell @vehicle.ModelYear | Antal km @vehicle.Mileage</p>
            </div>
        }
    </section>
</article>